body {
    margin: 0%;
    background-color: #673AB7;
}

div {
    text-align: center;
    background-color: #ffffff;
    padding: 1em;
    border-top: 1em solid #7E57C2;
    border-bottom: 1em solid #7E57C2;
    border-right: 1em solid #7E57C2;
    border-top-right-radius: 95px;
    border-bottom-right-radius: 95px;
    width: 50vh;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 4vh;
    color: #7E57C2
}

p {
    font-stretch: expanded;
    letter-spacing: 0.5em;
}